-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%h1=t('.add_a_new_event')

= form_for Event.new do |f|
  = f.error_messages
  %p
    = f.label :title
    = f.text_field :title
    = f.text_field :summary
    = f.hidden_field :to, :value => aspect
    = f.text_field :start_date
    = f.time_select :start_time, { :default => Time.now.change(:hour => 21), :simple_time_select => true, :minute_interval => 30, :time_separator => "" }
    //text_field :start_time
    = f.text_field :end_date, {:style =>"display:none"}
    = f.time_select :end_time, { :default => Time.now.change(:hour => 21), :simple_time_select => true, :minute_interval => 30, :time_separator => "" , :style =>"display:none"}
  = f.submit t('.create'), :class => 'button'
