-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.
- content_for :head do
  = javascript_include_tag 'jquery-ui-1.8.5.custom.min.js'
  :javascript
    $(document).ready(function(){
      $('#event_start_date').datepicker({ 'dateFormat': "DD, d MM, yy" });
      $('#event_end_date').datepicker({ 'dateFormat': "DD, d MM, yy" });
    });

.back= link_to "⇧ #{@event.title}", @event
%h1.big_text

  = "#{t('.editing')} #{@event.title}"

.sub_header
  ="#{t('.updated')} #{how_long_ago(@event)}"

- form_for @event do |a|
  = a.error_messages
  %p
    %b event title:
    = a.text_field :title
    %b event summary:
    = a.text_field :summary
    %b event date:
    = a.text_field :start_date
    %b event time
    = a.time_select :start_time, { :default => Time.now.change(:hour => 21), :simple_time_select => true, :minute_interval => 30, :time_separator => "" }

  .submit_block
    = link_to t('.cancel'), root_path
    or
    = a.submit

.button.delete
  = link_to t('.delete_event'), @event, :confirm => t('.are_you_sure'), :method => :delete

#content_bottom
  .back
    = link_to "⇧ #{@event.title}", @event
