-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.
- content_for :head do
  = javascript_include_tag 'jquery-ui-1.8.5.custom.min.js'
  :javascript
    $(document).ready(function(){
      $('#event_start_date').datepicker({ 'dateFormat': "DD, d MM, yy" });
      $('#event_end_date').datepicker({ 'dateFormat': "DD, d MM, yy" });
    });
- content_for :left_pane do
  = render "shared/aspect_friends"

- content_for :publish do
  %h1
    Events
  .right
    = link_to t('.new_event'), '#new_event_pane', {:class => "button", :id => "add_event_button"}

.yo
  #new_album_pane
    = render "events/new_event", :aspect => params[:aspect]

%div
  - for event in @events
    = render "event", :post => event

#pagination
  = will_paginate @events

